<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fraud Detection System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);">
  <div class="container">
    <h1>💳 Online Payment Fraud Detection</h1>
    <p class="subtitle">
      A Machine Learning based web application to detect fraudulent online transactions.
    </p>

   
      <a href="/predict-page" class="btn">🚀 Start Prediction</a>
    </div>

      </div>
</body>
</html>

